$font-stack: Helvetica, sans-serif;
$primary-color-a: rgba(121, 134, 203, 0.8);
$header-height: 3.4em;
$header-font-size: 1.2em;

// Clear the mess
* {
	margin: 0;
	padding: 0;
}

body {
  font-family: $font-stack;
}

.header-container {

	position: fixed;
	width: 100%;
	height: $header-height;
	background-color: $primary-color-a;

	div {
		height: $header-height;
		font-size: $header-font-size;
		padding-top: ($header-height - $header-font-size - 0.2) / 2;
		text-align: center;
		color: white;
	}
}

.activity-list-container {

	position: relative;
	top: $header-height;
	width: 100%;

	// Activites States



	// Loading State


	// No Activity State
	.no-activity {
		margin: 0 auto;
	}

	.add-first-activity {

	}

	.add-first-activity-icon {

	}

}