// 标准字体预设
$font-stack: Helvetica, sans-serif;

// 颜色预设
$primary-color-a: rgba(121, 134, 203, 0.8);

// 高度预设
$header-height: 3.4em;
$header-font-size: 1.2em;

// Clear the mess
* {
	margin: 0;
	padding: 0;
}

body {
  font-family: $font-stack;
}

.header-container {

	position: fixed;
	width: 100%;
	height: $header-height;
	background-color: $primary-color-a;

	div {
		height: $header-height;
		font-size: $header-font-size;
		padding-top: ($header-height - $header-font-size - 0.2) / 2;
		text-align: center;
		color: white;
	}
}

.body-container {

	position: relative;
	top: $header-height;

	margin: 0 auto;
	width: 100%;

}

.loading-container {

	@extend .body-container;

}

.no-activity-container {

	@extend .body-container;

	.add-first-activity {

	}

	.add-first-activity-icon {

	}
}

.activity-list-container {

	@extend .body-container;

}

.create-new-activity-container {

	@extend .body-container;

}

.activity-design-container {

	@extend .body-container;

}

.activity-detail-container {

	@extend .body-container;

}

.error-hint-container {

	@extend .body-container;

}





